$tablehead:hsl(190, 41%, 17%);  //trying to get darken function to get a placeholder for it but  dont want 2 lose if i fuk up
/* Twitter Colors  */
$twitteraccentred:#e81c4f;
$twitteraccentblue:#1b95e0;
$twitteraccentgreen:rgb(25, 204, 132);
$twitteraccentorange:#ff691f;
$twitteraccentpurple:#981ceb;

$content:rgba(255, 255, 255, 0.7);
$accent:$twitteraccentgreen;
$elebg:hsl(211, 33%, 16%);
$betterbg:hsl(209, 61%, 12%);

@import './baseUtilities/_mixins.scss';


input[type='button'],a {

  color:$content;
  background-color: $elebg;
  border-style: none;
  outline: none;
  transition: all 700ms;
  border-radius: 6px;
    &:hover {
    box-shadow: inset 2px 2px 5px 0px hsla(145, 100%, 25%, 0.5),
      inset -2px -2px 5px 0px hsla(145, 100%, 25%, 0.5);
  }
  &:hover,&:focus{
    color:$content;
  }
}

body {
  background-color: $betterbg;
  color:$content;
}

a,
legend {
  background-color:$betterbg;
    color: darken($accent, 12%);
}
.sidebar {
  background-color: $betterbg;
}



.active{
    a{
    background-color:$elebg;
  }
}
hr{
  color:$accent;
  outline:none;
  border:none;
  // border-bottom: solid 1px $accent;
  box-shadow:1px 1px 1px 1px darken($accent,20%)
}


h1,h2,h3,h4,h5,.Accented{
color:darken($accent, 20%)
}

/*
hr {
  border-top: 1px solid darken($accent, 20%);
}
.sub-header,legend{
  border-bottom: 1px solid darken($accent, 20%);
}
.nav>li>a:hover,
.nav>li>a:focus {
  color:white;
  background-color: lighten($elebg, 10%);

}



table {
  background-color: $elebg;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: lighten($elebg, 5%);
}

.well{
background-color:rgba(0,0,0,0.3);
border:none;
}
th {

  background-color: $elebg;
    color: hsla(156, 78%, 45%, 0.6);
}

.table>tbody>tr>td {
  padding: 1.4rem;
}
*/