
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 60px 1fr 40px;
    grid-template-areas:
     'nav nav nav' 
     'sidebar main main' 
     'sidebar main main'
     'sidebar footer footer';
}

.nav {
  grid-area: nav;
}
.sidebar {
  grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


